auto-save-list
/.emacs.desktop
/.mc-lists.el
/auto-completion.el
/bookmarks
/config
/elgrep-data.el
/elpa/
/emacs-config.el
/eshell.el
/flyspell.el
/functions.el
/ido.last
/install-stuff.el
/key-bindings.el
/latex.el
/lisp.el
/local.el
/logview-cache.extmap
/mode-config.el
/network-security.data
/org-mode.el
/python.el
/recentf
/request/
session\\..*
/smex-items
/snippets/
/statistics.el
/text.el
/theming.el
/tramp
/transient/
/session.*
*.rel
